.postershead {
    background-image: url(/assets/full_screen/desktop/posters.png);
}

.postersbody {
    background-image: url(/assets/images/posters.jpg);
}

@media screen and (max-width: 650px) {
    .postershead {
        background-image: url(/assets/full_screen/mobile/posters.png);
      }
}