<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
  [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#10282A'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
  <!-- Full Screen Image Section Start -->
  <div class="parallax-screen potterhead fade-in one" id="parallax"></div>
  <!-- Full Screen Image Section End -->

  <div class="container custom-container">
    <div class="container custom-container">
      <!-- Project Header Start -->
      <div class="row projectHeader">
        <div class="col-md-8 col-sm-12">
          <h1 class="projectHeader_heading">Potter Pics</h1>
          <p class="projectHeader_role">Role: UI/UX Design, iOS Development</p>
          <p class="projectHeader_role">Tools: Sketch, AfterEffects, Illustrator, Swift</p>
          <p class="projectHeader_tools"><a target="_blank" href="https://github.com/surayashivji/PotterPics">Source
              Code</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
          <p class="projectHeader_desc">Harry Potter themed social network.</p>
        </div>
      </div>
      <!-- Project Header End -->

      <!-- Body Paragraph Main Start -->
      <div class="row projectbody">
        <div class="col-md-12">
          <h1 class="mainbodytitle">Overview</h1>
          <div class="mainparagraph">
            <p>Ever wonder what Harry, Ron, and Hermione post on social media? I do! Potter Pics was an experiment that
              allowed me to explore two of my favorite worlds: Harry Potter and iOS. Simply enter the app with The
              Unlocking Charm to be sorted into a house and interact with the rest of the magical world.
            </p>
            <p>Featured in Natasha Murashev’s iOS newsletter reaching 10,000+ people.</p>
          </div>
        </div>
      </div>
      <!-- Body Paragraph Main End -->





      <!-- Two Centered Video Start -->
      <div class="container videocontainer">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/1-home.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Home</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/2-feed.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Feed</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Two Centered Video End -->


      <!-- Two Centered Video Start -->
      <div class="container videocontainer">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/3-search.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Search</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/4-profile.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Profile</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Two Centered Video End -->

      <!-- Two Centered Video Start -->
      <div class="container videocontainer">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/5-capture.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Capture</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="video">
              <video width="450" height="650" preload="auto" [autoplay]="true" [controls]="true"
                onloadedmetadata="this.muted=true" playsinline="true">
                <source src="{{imagePath}}/pages/potter/6-post.mp4" type="video/mp4">
              </video>
              <p class="video-caption">Post</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Two Centered Video End -->
    </div>
  </div>

  <app-footer [currentPage]="'potter'"></app-footer>