<app-new-header [targetTransparentLimiter]="parallax"></app-new-header>

<ng-progress
  #progressBar
  [color]="'#10282A'"
  [direction]="'ltr+'"
  [ease]="'linear'"
  [max]="100"
  [meteor]="true"
  [speed]="500"
  [spinner]="false"
  [spinnerPosition]="'left'"
  [thick]="true"
  [trickleSpeed]="300"
></ng-progress>

<div
  class="container reveal-animation"
  (scroll)="scrollHandler($event)"
  #reveal
>
  <!-- Full Screen Image Section Start -->
  <div
    #parallax
    id="parallax"
    class="parallax-screen potterhead fade-in one"
  ></div>
  <!-- Full Screen Image Section End -->

  <div class="container custom-container">
    <!-- Project Header Start -->
    <div class="row projectHeader">
      <div class="col-md-8 col-sm-12">
        <h1 class="projectHeader_heading">Potter Pics</h1>
        <p class="projectHeader_role">Role: UI/UX Design, iOS Development</p>
        <p class="projectHeader_tools">
          Tools: Sketch, AfterEffects, Illustrator, Swift
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p class="projectHeader_desc">Harry Potter themed social network.</p>
      </div>
    </div>
    <!-- Project Header End -->

    <!-- Body Pragraph Main Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Overview</h1>
        <div class="mainparagraph">
          <p>
            Ever wonder what Harry, Ron, and Hermione post on social media? Me
            too! Potter Pics was an experiment that allowed me to explore two of
            my favorite worlds: Harry Potter and iOS. Simply enter the app with
            The Unlocking Charm to be sorted into a house and start interacting
            with the rest of the magical world.
          </p>
          <p>
            Featured in Natasha Murashev’s iOS newsletter reaching 10,000+
            people.
          </p>
        </div>
      </div>
    </div>
    <!-- Body Pragraph Main End -->

    <!-- Body Pragraph Sub Main Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Process</h1>
        <div class="mainparagraph">
          <p>
            There are countless aspects of the Harry Potter world that could
            translate to engaging, digital experiences. Because I created this
            app for fun, there were few feature constraints that I had to work
            around. As such, I juggled multiple ideas throughout my design
            process. I experimented with a sorting house quiz for the user’s
            onboarding, having an interactive map similar to Marauder’s Map for
            users to see their friends’ locations, using spells to unlock
            features, and more.
          </p>
          <p>
            I ultimately decided to integrate three subtle, visual Harry Potter
            references.
          </p>
        </div>
        <h6 class="submaintitle">House Based Navigation</h6>
        <div class="mainparagraph">
          <p>
            The user’s navigation and secondary font’s color changes based on
            his/her Hogwarts house. This allows the user to have a more
            personalized experience while not getting distracting from the core
            functionality.
          </p>
        </div>
        <h6 class="submaintitle">Home Intro</h6>
        <div class="mainparagraph">
          <p>
            The home page resembles the Harry Potter movie introductions. The
            music, moving clouds, and iconic text provide a familiar feel for
            the user as he/she enters the app. The user taps “Alohamora,” also
            known as The Unlocking Charm, to login or sign up. It makes sense to
            have obvious, familiar Harry Potter elements for the onboarding so
            that the user is immediately engaged. I animated the clouds in After
            Effects and created the text in Photoshop.
          </p>
        </div>
        <h6 class="submaintitle">Icons</h6>
        <div class="mainparagraph">
          <p>
            The icons used are well-known aspects from the Harry Potter world.
          </p>
        </div>
      </div>
    </div>
    <!-- Body Pragraph Sub Main End -->
  </div>

  <!-- Full Screen Image Start -->
  <div class="full-screen potterbody"></div>
  <!-- Full Screen Image End -->

  <!-- Center Video Section Start -->
  <div class="container videocontainer">
    <div class="row">
      <div class="video">
        <video
          width="400"
          height="500"
          preload="auto"
          autoplay
          [muted]="true"
          [loop]="true"
        >
          <source src="/assets/pages/potter/1-home.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
  <!-- Center Video Section End -->
</div>

<app-footer [currentPage]="'stitch'"></app-footer>
