<app-header></app-header>

<main class="body">
    <div class="morph-wrap">
        <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
            <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
        </svg>
    </div>

    <div class="content-wrap">
        <div class="content content--layout content--layout-1">
            <img class="content__img" src="../../../assets/images/avatar.png" alt="Some image" />
            <h3 class="content__title">hi! i'm suraya.</h3>
            <!-- <p class="content__author">intro</p> -->
            <p class="content__desc">
                I'm a designer and developer based in Los Angeles. I study a mix of art, tech, and business in the
                Iovine and Young Academy at USC.
            </p>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content content--layout content--layout-4">
            <img class="content__img content__img-cheat" src="../../../assets/images/small.png" />
            <h3 class="content__title">experience</h3>
            <p class="content__desc content__desc-padded">
                I have held a variety of roles across design and tech.
                <br>
                <br>
                <span class="mobile-smaller-subtext">
                    <i>
                        <!-- <span style="color: #1ED760"> -->
                        Spotify &#8212; Product Design Intern, 2018
                        <!-- </span> -->
                        <br>
                        <!-- <span style="color: #19DDF5"> -->
                        IDEO &#8212; CoLab Fellow and Freelancer, 2018
                        <!-- </span> -->
                        <br>
                        <!-- <span style="color: #FFFFFF"> -->
                        Apple &#8212; Software Engineering Intern, 2016 - 2017
                        <!-- </span> -->
                        <br>
                        <!-- <span style="color: #990000" -->
                        USC &#8212; Head iOS Teacher's Assistant, 2016 - 2018
                        <!-- </span> -->
                        <!-- <br> -->
                    </i>
                </span>
            </p>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content content--layout content--layout-4">
            <img class="content__img content__img-cheat" src="../../../assets/images/small.png" />
            <h3 class="content__title">interests</h3>
            <p class="content__desc content__desc-padded">
                I love so many things. Right now, I spend my free time...
                <br>
                <br>
                <span class="mobile-smaller-subtext">
                    <i>
                        Creating an intelligent diffuser
                        <a class="embedded__link" href="https://www.surayashivji.com/mello/" target="_blank">@mello.</a>
                        <br>
                        Making music visualizations
                        <a class="embedded__link" href="https://www.instagram.com/surzpixels/" target="_blank">@surzpixels.</a>
                        <br>
                        Designing and prototyping <a class="embedded__link" href="https://www.surayashivji.com/wellness/"
                            target="_blank">wellness interfaces.</a>
                        <br>
                        <!-- Teaching creative code <a class="embedded__link" href="https://www.skillshare.com/wellness/" target="_blank">through skillshare.</a> -->
                    </i>
                </span>
            </p>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content content--layout content--layout-4">
            <img class="content__img content__img-cheat" src="../../../assets/images/small.png" />
            <h3 class="content__title">skills</h3>
            <p class="content__desc content__desc-padded">
                I enjoy picking up new tools. Here are the ones I'm most comfortable with.
                <br>
                <br>
                <span class="mobile-smaller-subtext">
                    <i>
                        <b>Design</b> &#8212; Sketch, Framer, Photoshop, Illustrator, Figma, Cinema4D, Maya
                        <br>
                        <br>
                        <b>Tech</b> &#8212; Swift, Objective-C, JavaScript (Three.js, p5.js), C++, WebGL, Unity,
                        HTML/CSS
                    </i>
                </span>
            </p>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content content--layout content--layout-4">
            <img class="content__img content__img-cheat" src="../../../assets/images/small.png" />
            <h3 class="content__title">contact</h3>
            <p class="content__desc content__desc-padded">
                If you'd like to collaborate on a project or would just like to chat, please feel free to reach out!
                <br>
                <br>
                <span>
                    <a href="mailto:surayashivji@gmail.com" class="social-icon" target="_blank">
                        <i class="fa fa-envelope fa-lg"></i></a>
                    <a href="https://twitter.com/surayashivji" target="_blank" class="social-icon">
                        <i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/surayashivji/" class="social-icon" target="_blank"> <i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="https://instagram.com/surzpixels" target="_blank" class="social-icon">
                        <i class="fa fa-instagram fa-lg"></i></a>
                    <a href="https://www.github.com/surayashivji" class="social-icon" target="_blank">
                        <i class="fa fa-github fa-lg"></i></a>
                    <a href="http://www.surayashivji.com/images/ShivjiSurayaResume.pdf" class="social-icon" target="_blank">
                        <i class="fa fa-file-pdf-o fa-lg"></i></a>
                </span>
            </p>
        </div>
    </div>
    <!-- Footer -->
    <section class="content content--related">
    </section>
</main>