<div class="footer hide" id="footer">
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-2">
                <p class="fleft"><span routerLink="/{{this.prevpage}}"  class="glyphicon glyphicon-arrow-left"></span></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8">
                <p>{{currentPage}}</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-2">
                <p class="fright">
                    <span routerLink="/{{this.nextpage}}" class="glyphicon glyphicon-arrow-right"></span>
                </p>
            </div>

        </div>

    </div>
</div>