
.headercontainer {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform .3s ease, visibility 0s .3s linear;
    -o-transition: -o-transform .3s ease, visibility 0s .3s linear;
    transition: transform .3s ease, visibility 0s .3s linear;
}

.stickyTop {
    background: rgba(255, 255, 255, .97);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease, visibility 0s .3s linear;
    -o-transition: -o-transform .3s ease, visibility 0s .3s linear;
    transition: transform .3s ease, visibility 0s .3s linear;
    z-index: 800;
    padding-left: 45px;
    margin: 0px;
}

.stickyTop.js--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    -webkit-transition: -webkit-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease
}

.headercontainer.js--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    -webkit-transition: -webkit-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease
}

.headercontainer.top {
    transition: unset !important;
    transform: unset !important;
}

.stickyTop.js--top {
    position: absolute;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    z-index: 0
}


.stickyTopunset {
    position: absolute !important;
}