<!-- Center Image Section Start -->
<div class="container videocontainer">
  <div class="row">
    <div class="video">
      <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
        alt="description">
    </div>
  </div>
</div>
<!-- Center Image Section End -->
<!-- Three Centered Image Start -->
<div class="container videocontainer">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
      </div>
    </div>
  </div>
</div>
<!-- Three Centered Image End -->

<!-- Center Image Section with caption Start -->
<div class="container videocontainer">
  <div class="row">
    <div class="video">
      <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
        alt="description">
      <p class="video-caption">Video Title</p>
    </div>
  </div>
</div>
<!-- Center Image Section with caption End -->


<!-- Three Centered Image with caption Start -->
<div class="container videocontainer">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
        <p class="video-caption">Video Title</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
        <p class="video-caption">Video Title</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
        <p class="video-caption">Video Title</p>
      </div>
    </div>
  </div>
</div>
<!-- Three Centered Image with caption End -->

<!-- Centered Image Plus Text Start -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1 class="mainbodytitle">Process</h1>
      <div class="mainparagraph">
        <p>There are countless aspects of the Harry Potter world that could translate to engaging, digital experiences.
          Because
          I created this app for fun, there were few feature constraints that I had to work around. As such, I juggled
          multiple ideas throughout my design process. I experimented with a sorting house quiz for the user’s
          onboarding,
          having an interactive map similar to Marauder’s Map for users to see their friends’ locations, using spells
          to
          unlock features, and more.</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="video">
        <img src="https://static.decalgirl.com/assets/img/backgrounds/bg-solidcolors-750.2.jpg" class="img-responsive"
          alt="description">
        <p class="video-caption">Video Title</p>
      </div>
    </div>
  </div>
</div>
<!-- Centered Image Plus Text End -->

<!-- Full Screen Image Start -->
<!-- <div class="full-screen eventsbody"></div> -->
<!-- Full Screen Image End -->

<!-- Center Video Section Start -->
<!-- <div class="container videocontainer">
    <div class="row">
      <div class="video">
        <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
          <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div> -->
<!-- Center Video Section End -->


<!-- Three Centered Video Start -->
<!-- <div class="container videocontainer">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div> -->
<!-- Three Centered Video End -->

<!-- Center Video Section with caption Start -->
<!-- <div class="container videocontainer">
    <div class="row">
      <div class="video">
        <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
          <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
        </video>
        <p class="video-caption">Video Title</p>
      </div>
    </div>
  </div> -->
<!-- Center Video Section with caption End -->


<!-- Three Centered Video with caption Start -->
<!-- <div class="container videocontainer">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
          <p class="video-caption">Video Title</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
          <p class="video-caption">Video Title</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
          <p class="video-caption">Video Title</p>
        </div>
      </div>
    </div>
  </div> -->
<!-- Three Centered Video with caption End -->

<!-- Centered Video Plus Text Start -->
<!-- <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1 class="mainbodytitle">Process</h1>
        <div class="mainparagraph">
          <p>There are countless aspects of the Harry Potter world that could translate to engaging, digital experiences. Because
            I created this app for fun, there were few feature constraints that I had to work around. As such, I juggled
            multiple ideas throughout my design process. I experimented with a sorting house quiz for the user’s onboarding,
            having an interactive map similar to Marauder’s Map for users to see their friends’ locations, using spells to
            unlock features, and more.</p>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="video">
          <video width="400" height="500" preload="auto" autoplay [muted]="true" [loop]="true">
            <source src="/assets/pages/potter/1-home.mp4" type="video/mp4">
          </video>
          <p class="video-caption">Video Title</p>
        </div>
      </div>
    </div>
  </div> -->
<!-- Centered Video Plus Text End -->