<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
    [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#161825'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
    <!-- Full Screen Image Section Start -->
    <div class="parallax-screen mellohead fade-in one" id="parallax">
        <!-- Full Screen Image Section End -->
    </div>

    <div class="container custom-container">
        <!-- Project Header Start -->
        <div class="row projectHeader">
            <div class="col-md-8 col-sm-12">
                <h1 class="projectHeader_heading">Mello</h1>
                <p class="projectHeader_role">CoFounder: Product Strategy, Management, UI/UX Design, Software
                    Development</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="projectHeader_desc">An intelligent diffuser for the home.</p>
            </div>
        </div>
        <!-- Project Header End -->

        <!-- Overview Start -->
        <div class="row projectbody">
            <div class="col-md-12">
                <h1 class="mainbodytitle">Overview</h1>
                <div class="mainparagraph">
                    <p>Mello is a startup that I cofounded with my roommate Jamie Haberman. We grew our team to 8 in
                        order to fully strategize, research, design, develop, and
                        build Mello. Though aren't working on Mello full-time currently, I've never learned more about
                        entrepreneurship, management, design, and tech than I did while iterating and pivoting on this
                        product for a year.
                </div>
                <div class="mainparagraph">
                    <p><i>Meet mello. The first smart fragrance product for young adults that intelligently selects
                            scents for your varying needs using organic essential oils. Simply push your monthly
                            cartridge of oils into the Mello diffuser, and it will fill your room with a scent that
                            matches each moment based on your schedule, goals, and data from connected devices.

                        </i></p>
                </div>
                <div class="mainparagraph">
                    <p>Check out our pitch deck and promo video to learn more.</p>
                </div>
            </div>
        </div>
        <!-- Overview End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_1.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Vimeo Video -->

        <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/334456177?color=ffffff&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <p class="mello-caption">Checkout our promo video (directed and edited by <a
                href="https://vimeo.com/user22175140">Nate Stranzl)</a></p>


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_2.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_3.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_4.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_5.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/_6.m4v" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_7.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/_8.m4v" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_9.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_10.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_11.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_12.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_13.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_15.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_16.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_17.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_18.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_19.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_20.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_21.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">While current home products focus on technological and
                        voice innovation, our team believed that the home should care for you. Home products should be
                        approached from a point of wellness, not just technology. So, our vision for Mello was a suite
                        of products for the home that focus on personalized, data-driven, and passive wellness.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_22.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_23.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_24.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_26.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_27.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_28.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_14.jpeg" class="img-responsive posters" alt="description">

                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/_landingpage.mp4" type="video/mp4">
                    </video>
                    <p class="mello-caption">Check out our landing page at <a target="_blank"
                            href="http://melloaroma.com/"><i>melloaroma.com</i>
                        </a></p>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_29.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_30.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_31.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_32.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_33.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_34.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_35.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_36.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_37.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_38.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_39.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_40.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_41.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_42.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_43.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_44.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_45.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <div class="mainparagraph">
            <p>Jamie led our rebranding which we based on newfound insights from research and prototyping.</p>
        </div>

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_46.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_47.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_48.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_49.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_50.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_51.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_52.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_53.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_54.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <div class="mainparagraph">
            <p>I managed the hardware prototyping process which was led by Harrison Lin and Brian Le</p>
        </div>

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/_55.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <div class="mainparagraph">
            <p>Check out our functional iOS app (built by myself and <a href="https://harrison.click/"></a>Harrison
                Weinerman) <a href="https://github.com/surayashivji/MelloApp">Source Code</a>
        </div>

        <div class="container videocontainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zLjP9ytz-UU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XnmMDtN7xf0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe><br>
        </div>

        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/_done.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->

    </div>
    <app-footer [currentPage]="'mello'"></app-footer>