<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
    [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#161825'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
    <!-- Full Screen Image Section Start -->
    <div class="parallax-screen mellohead fade-in one" id="parallax">
        <!-- Full Screen Image Section End -->
    </div>

    <div class="container custom-container">
        <!-- Project Header Start -->
        <div class="row projectHeader">
            <div class="col-md-8 col-sm-12">
                <h1 class="projectHeader_heading">Mello</h1>
                <p class="projectHeader_role">UI/UX Design, Product Strategy, Entrepreneurship, Development</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="projectHeader_desc">An intelligent diffuser for the home.</p>
            </div>
        </div>
        <!-- Project Header End -->

        <!-- Overview Start -->
        <div class="row projectbody">
            <div class="col-md-12">
                <h1 class="mainbodytitle">Overview</h1>
                <div class="mainparagraph">
                    <p>Mello is a project I’m working on with my roommate Jamie Haberman. Starting out as a team
                        of two, we have been able to have our hands in the market & user research, design, tech, and
                        business aspects of this ongoing project. Our current team consists of Jamie and myself leading
                        design and software, Eric Deng leading hardware, Caitlyn Clabaugh leading machine learning, and
                        Colleen Quinn leading aromatherapy R&D.</p>
                </div>
                <div class="mainparagraph">
                    <p><i>Mello is an intelligent diffuser for the home that motivates a lifestyle of wellness
                            for young adults through personalized aromatherapy. Mello leverages artificial
                            intelligence to mechanically
                            create blends in real time based on the user’s changing moods and stress factors.
                        </i></p>
                </div>
                <div class="mainparagraph">
                    <p>Check out our deck below to learn more!</p>
                </div>
            </div>
        </div>
        <!-- Overview End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/1.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/2.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/3.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/4.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/5.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/6.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Meet Mello. <br><br> Mello is an intelligent diffuser for the home that
                        motivates a lifestyle of wellness for young adults through personalized aromatherapy. Mello
                        leverages AI to mechanically create blends in real time based on the user’s changing moods and
                        stress factors.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/7.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/8.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/9.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/10.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/11.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/12.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/13.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/14.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/15.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/16.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/17.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/18.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/19.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/20.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/21.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/landingpage.mp4" type="video/mp4">
                    </video>
                    <p class="mello-caption">Check out our landing page at <a target="_blank" href="http://melloaroma.com/"><i>melloaroma.com</i> </a>to stay updated!</p>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/23.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/24.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/25.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/26.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/27.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/28.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/29.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/30.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

    </div>
    <app-footer [currentPage]="'mello'"></app-footer>