<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
    [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#161825'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
    <!-- Full Screen Image Section Start -->
    <div class="parallax-screen mellohead fade-in one" id="parallax">
        <!-- Full Screen Image Section End -->
    </div>

    <div class="container custom-container">
        <!-- Project Header Start -->
        <div class="row projectHeader">
            <div class="col-md-8 col-sm-12">
                <h1 class="projectHeader_heading">Mello</h1>
                <p class="projectHeader_role">UI/UX Design, Product Strategy, Entrepreneurship, Development</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="projectHeader_desc">An intelligent diffuser for the home.</p>
            </div>
        </div>
        <!-- Project Header End -->

        <!-- Overview Start -->
        <div class="row projectbody">
            <div class="col-md-12">
                <h1 class="mainbodytitle">Overview</h1>
                <div class="mainparagraph">
                    <p>Mello is a project I’m working on with my roommate Jamie Haberman. Starting out as a team
                        of two, we have been able to have our hands in the market & user research, design, tech, and
                        business aspects of this ongoing project. Our current team consists of Jamie and myself leading
                        design and software, Eric Deng leading hardware, Caitlyn Clabaugh leading machine learning, and
                        Colleen Quinn leading aromatherapy R&D.</p>
                </div>
                <div class="mainparagraph">
                    <p><i>Mello is an intelligent diffuser for the home that motivates a lifestyle of wellness
                            for young adults through personalized aromatherapy. Mello leverages artificial
                            intelligence to mechanically
                            create blends in real time based on the user’s changing moods and stress factors.
                        </i></p>
                </div>
                <div class="mainparagraph">
                    <p>Check out our deck below to learn more!</p>
                </div>
            </div>
        </div>
        <!-- Overview End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/1.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/2.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Last semester was crazy. I was trying to find a job, I was staying up all
                        night studying for exams, and I was working. I was overwhelmed. It gave me stress. Like so many
                        other things will throughout my life and every other person’s life.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/3.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">When I got home after a long night of studying during finals, I noticed a
                        scent that made me feel relieved and calm without even having to do anything. It was coming
                        from my roommate Jamie’s room, who explained that it was lavender.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/4.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">There are so many ways to deal with the high demands of day to day life,
                        but it’s hard to incorporate them consistently. We thought, wouldn’t it be beneficial if our
                        bodies received the right benefits at the right times throughout the day?</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/5.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Meet Mello. <br><br> Mello is an intelligent diffuser for the home that
                        motivates a lifestyle of wellness for young adults through personalized aromatherapy. Mello
                        leverages AI to mechanically create blends in real time based on the user’s changing moods and
                        stress factors.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/6.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">This is a render of the Mello diffuser in a bedroom.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/7.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">When the users buys Mello, they can simply spring load the oils into the
                        six slots, which are designed to only accept our oils.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <video preload="auto" [autoplay]="true" [controls]="true" onloadedmetadata="this.muted=true"
                        playsinline="true">
                        <source src="./assets/images/pages/mello/demo.mp4" type="video/mp4">
                    </video>
                    <p class="mello-caption">The user connects their Mello to our app.<br><br>They onboard by
                        answering
                        a few questions about their moods, stress levels, and needs at that moment. The intelligent
                        algorithm uses that information to curate personalized blends. We came up with the idea of
                        personalizing aromatherapy because many young adults in our research saw benefit in the
                        practice, but didn’t understand how it directly
                        relates them.<br><br>The user can learn about why each oil was selected for them and Mello
                        does
                        all the work by blending and diffusing based on their schedule.</p>
                </div>
            </div>
        </div>
        <!-- Demo Video Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/8.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Mello can be controlled by smart watches and voice-operated by smart
                        devices. This connected experience allows Mello to tap into your heart rate, calendar,
                        schedule, and more.</p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/9.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Adopting the Razor Blade Model, we have a fixed revenue stream for the
                        diffuser, which we are selling for $15 a unit at a 20% margin. Pricing the diffuser at the
                        Average Selling Price of $60 is unrealistic for our segment. So, we are selling Mello at a low
                        price that is affordable for our target audience. The key is our recurring revenue stream, the
                        essential oils, which we are charging users $10/month at an 83% margin.

                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/10.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Based on the 3.4 trillion dollar wellness market, consumers are clearly
                        willing to spend on personal wellness. Within this vertical, the 240 m dollar segment of young
                        adults is an under-served category that, based on our research, has a high growth rate. Thus,
                        we are building this niche product to meet the growing and unmet demand of these
                        wellness-conscious young adults.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/11.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Our target customers are 18-35 years old who care about health and
                        aesthetics. They are tech savvy and have busy schedules. Over the past few months, we have
                        interviewed over 300 people in our target market to understand what matters to them most. These
                        conversations allowed us to segment our market further. At their core, our target customers
                        crave low-effort, aesthetically pleasing experiences.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/12.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Our customers and product align with the market trends of smart home
                        products, wellness and personalized consumer goods.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->


        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/13.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">We’ve outlined offline and online strategies for how we’ll reach our
                        customers. Because our target audience values authentic, photo-worthy experiences, we’ve
                        included pop ups, influencers, and social.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/14.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Initially, we will focus on partnerships, contests, and social because
                        they are low cost, large reach initiatives.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/15.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Our direct competitors include scent based companies like Muji, Pium, Saje
                        and Glade. Clearly, when it comes to aromatherapy, we’re far more technically advanced.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/16.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">Which is why we have competitors in home devices like Google Home, Nest,
                        and Amazon Alexa, who have never explored scent
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video mello-caption-padding">
                    <img src="./assets/images/pages/mello/17.jpeg" class="img-responsive posters" alt="description">
                    <p class="mello-caption">While current home products focus on technological and voice innovation,
                        Mello believes the home should care for you. The future of Mello is a suite of products for the
                        home that focus on personalized, data-driven, and passive wellness. For the Mello diffuser, our
                        algorithm maps personal data to aroma; in the future we will apply our same algorithm to things
                        like perfume, shampoo, and soap. We could also move into business. Imagine you’re traveling to
                        a new country and as you walk into your hotel room there’s a Mello that’s diffusing the blends
                        that it knows work for you.
                    </p>
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->

        <!-- Center Image Section Start -->
        <div class="container videocontainer">
            <div class="row">
                <div class="video">
                    <img src="./assets/images/pages/mello/18.jpeg" class="img-responsive posters" alt="description">
                </div>
            </div>
        </div>
        <!-- Center Image Section End -->



    </div>
    <app-footer [currentPage]="'mello'"></app-footer>