<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
  [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#1ED760'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
  <!-- Full Screen Image Section Start -->
  <div class="parallax-screen spotifyhead fade-in one" id="parallax">
    <!-- Full Screen Image Section End -->
  </div>
  <div class="container custom-container">
    <!-- Project Header Start -->
    <div class="row projectHeader">
      <div class="col-md-8 col-sm-12">
        <h1 class="projectHeader_heading">Product Design Intern</h1>
        <p class="projectHeader_role">Team: App Integrations</p>
        <p class="projectHeader_tools">Tools: Sketch, Framer, Illustrator, Photoshop</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p class="projectHeader_desc">Platform & Partner Experience</p>
      </div>
    </div>
    <!-- Project Header End -->
    <!-- Body Pragraph Main Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Summary</h1>
        <div class="mainparagraph">

          <p>In summer 2018, I joined Spotify as a Product Design Intern in San Francisco. I worked on projects such as
            Spotify's iMessage Extension and a UX Research study on commuting with an incredible
            team of designers on the App Integrations Squad. My primary project was mobile gaming which I co-led with
            Jon Wong, another designer on App Integrations.
          </p>


        </div>
      </div>
    </div>
    <!-- Body Pragraph Main End -->


    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/01.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/02.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/03.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/04.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/05.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/06.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/07.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/08.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/09.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/10.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/11.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/12.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/13.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/14.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/15.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/16.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/17.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/18.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/19.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/20.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/21.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/22.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/23.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/spotify/24.jpg" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video"></div>
        <img src="./assets/images/pages/spotify/25.jpg" class="img-responsive posters" alt="description">
      </div>
    </div>
  </div>
  <!-- Center Image Section End -->


</div>
<app-footer [currentPage]="'spotify'"></app-footer>