<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
  [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#CCD2D9'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
  <!-- Full Screen Image Section Start -->
  <div class="parallax-screen rizikitotohead fade-in one" id="parallax">
    <!-- Full Screen Image Section End -->
  </div>

  <div class="container custom-container">
    <!-- Project Header Start -->
    <div class="row projectHeader">
      <div class="col-md-8 col-sm-12">
        <h1 class="projectHeader_heading">Rizikitoto</h1>
        <p class="projectHeader_role">CEO and Founder</p>
        <p class="projectHeader_tools">Entrepreneurship, Development, Design</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p class="projectHeader_desc">Nonprofit organization for East African orphanages.</p>
      </div>
    </div>
    <!-- Project Header End -->

    <!-- Overview Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Overview</h1>
        <div class="mainparagraph">
          <p>Rizikitoto is the non-profit organization that I founded and ran from 2014 to 2017. Rizikitoto utilizes
            mobile app revenue to fund initiatives that promote self-sustenance in East African orphanages.</p>
        </div>
        <h6 class="submaintitle">Background</h6>
        <div class="mainparagraph">
          <p>On trips to visit my parents’ hometowns in East Africa, my siblings and I would volunteer at Bright
            Futures orphanage in Kampala, Uganda. We taught kids aged 6 to 17 reading, writing, and math skills and
            learned about their personal interests and goals too. While spending time with the kids at Bright Futures,
            I learned that their problems were not limited to need, but also self-sustenance. These children were
            already incredibly bright, but they lacked the resources and guidance to pursue their dreams. After all,
            how can a girl with no books for school someday become a teacher?</p>
        </div>
        <h6 class="submaintitle">Mission</h6>
        <div class="row inset outcomecontainer-rt">
          <div class="col-md-2 inset">
            <div class="media-inline">
              <img src="./assets/images/pages/rizikitoto/logo.png" class="img-responsive outcomeimg" alt="description"
                width="100">
            </div>
          </div>
          <div class="col-md-10 inset">
            <div class="mainparagraph">
              <p><i>Rizikitoto works to help East African orphans become self-sufficient. We have a network of mobile
                  apps where the revenue of each is spent on resources that support the talents, interests, and
                  aspirations of the children. Our goal is to empower these children to have confidence in their
                  capabilities.</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Overview End -->


    <!-- Impact Start -->
    <!-- Body Paragraph Main Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Impact</h1>
        <div class="mainparagraph">
          <p>I developed and designed five iOS games that generated money for the kids at Bright Futures Orphanage.
            Rizikitoto funded initiatives for approximately 50 children through the games and crowdfunding campaigns.
          </p>
        </div>
        <!-- Kids Pics -->
        <div class="container videocontainer">
          <div class="row">
            <div class="media-inline-spaced">
              <img src="./assets/images/pages/rizikitoto/kids1.png" class="img-responsive" alt="description">
            </div>
          </div>
        </div>
        <div class="container videocontainer">
          <div class="row">
            <div class="media-inline-spaced">
              <img src="./assets/images/pages/rizikitoto/kids2.png" class="img-responsive" alt="description">
            </div>
          </div>
        </div>
        <!-- <div class="container videocontainer">
          <div class="row">
            <div class="media-inline-spaced">
              <img src="./assets/images/pages/rizikitoto/kids3.png" class="img-responsive" alt="description">
            </div>
          </div>
        </div> -->
        <!-- Pics End -->
        <!-- Apps Begin -->
        <h6 class="submaintitle">Apps</h6>
        <div class="mainparagraph">
          <p>I designed and developed the games in Objective-C and put them on the app store. The revenue that each
            game generated was used to fund initiatives in Bright Futures Orphanage.</p>
        </div>
        <!-- Center Image Section Start -->
        <div class="container videocontainer">
          <div class="row">
            <div class="media-inline">
              <img src="./assets/images/pages/rizikitoto/apps.png" class="img-responsive" alt="description">
            </div>
          </div>
        </div>
        <!-- Center Image Section End -->
        <div class="mainparagraph">
          <p>You can see some shots of the games below.</p>
        </div>
        <!-- App Videos Start -->
        <!-- Two Centered Video Start -->
        <div class="container videocontainer">
          <div class="row">
            <div class="col-md-6 col-sm-12 no-bottom">
              <div class="video video-no-padding">
                <!-- <video preload="auto" [controls]="true" [muted]="true" [loop]="true"> -->
                <video preload="auto" [autoplay]="true" [controls]="false" [loop]="true" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/bilberry.mp4" type="video/mp4">
                </video>
                <p class="video-caption">Bilberry</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 no-bottom">
              <div class="video video-no-padding">
                <!-- <video preload="auto" [controls]="true" [muted]="true" [loop]="true"> -->
                <video preload="auto" [autoplay]="true" [controls]="false" [loop]="true" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/barberry.mp4" type="video/mp4">
                </video>
                <p class="video-caption">Barberry</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Two Centered Video End -->
        <!-- Three Centered Video Start -->
        <div class="container videocontainer">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="video video-no-padding">
                <video preload="auto" [autoplay]="true" [controls]="false" [loop]="true" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/mares.mp4" type="video/mp4">
                </video>
                <p class="video-caption">Mares</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="video video-no-padding">
                <video preload="auto" [autoplay]="true" [controls]="false" [loop]="true" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/loxe.mp4" type="video/mp4">
                </video>
                <p class="video-caption">Loxe</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="video video-no-padding">
                <video preload="auto" [autoplay]="true" [controls]="false" [loop]="true" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/bayberry.mp4" type="video/mp4">
                </video>
                <p class="video-caption">Bayberry</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Three Centered Video End -->
        <!-- App Videos End -->
        <!-- Apps End -->
        <h6 class="submaintitle">Website</h6>
        <div class="mainparagraph">
          <p>From 2014 to 2018, <i>rizikitoto.org</i> detailed the organization's ongoing efforts, applications, and
            crowdfunding campaigns.</p>
        </div>
        <!-- Website Images Start -->
        <!-- Large Video -->
        <!-- Demo Video Section Start -->
        <div class="container videocontainer">
          <div class="row">
            <div class="video">
              <div class="video">
                <video class="vapor" preload="auto" [loop]="true" [autoplay]="true" [controls]="false" onloadedmetadata="this.muted=true"
                  playsinline="true">
                  <source src="./assets/images/pages/rizikitoto/home_cast.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
        <!-- Demo Video Section End -->
        <!-- End -->
        <div class="container videocontainer">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="video">
                <img src="./assets/images/pages/rizikitoto/2.png" class="img-responsive" alt="description">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="video">
                <img src="./assets/images/pages/rizikitoto/3.png" class="img-responsive" alt="description">
              </div>
            </div>
          </div>
        </div>
        <!-- Row 2 -->
        <div class="container videocontainer">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="video">
                <img src="./assets/images/pages/rizikitoto/5.png" class="img-responsive" alt="description">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="video">
                <img src="./assets/images/pages/rizikitoto/6.png" class="img-responsive" alt="description">
              </div>
            </div>
          </div>
        </div>
        <!-- Website Images End -->
      </div>
    </div>
    <!-- Body Paragraph Main End -->
    <!-- Impact End -->

    <!-- Press Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Press</h1>
        <h6 class="submaintitle">Digital</h6>
        <ul class="projects">
          <li>
            <a target="_blank" href="http://www.mercurynews.com/2014/12/18/qa-rizikitotos-suraya-shivji-17-crowd-funds-for-african-orphans/">
              The Mercury News (December 18, 2014)
            </a>
          </li>
          <li>
            <a target="_blank" href="http://news.harker.org/senior-creates-website-to-raise-money-for-african-orphans/">
              Harker News (January 7, 2015)
            </a>
          </li>
          <li>
            <a target="_blank" href="https://ismailimail.wordpress.com/2014/12/23/suraya-shivji-17-crowd-funds-for-african-orphans/">
              Ismailimail (December 23, 2014)
            </a>
          </li>
        </ul>
        <h6 class="submaintitle">Print</h6>
        <ul class="projects">
          <li>Providence Journal (Jan 4, 2015)</li>
          <li>The Mercury News, (December 18, 2014)</li>
        </ul>
      </div>
    </div>
    <!-- Press End -->

    <!-- Takeaways Sub Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Takeaways</h1>
        <div class="mainparagraph">
          <p>Through Rizikitoto, I became obsessed with entrepreneurship, software engineering, design, education,
            self-sustenance, and so much more. When I was building the games in high school for fun, I had no idea that
            tech was even an industry. It was the first time I took an idea and made it into a reality. I am still
            incredibly passionate about self-sustenance and social entrepreneurship. My three years of work on
            Rizikitoto led me to the Iovine and Young Academy where I study design, technology, and
            business, so I am excited to see how my newfound knowledge will allow me to further impact these
            communities in the future. </p>
        </div>
      </div>
    </div>
    <!-- Takeaways Sub End -->

  </div>

</div>
<app-footer [currentPage]="'rizikitoto'"></app-footer>