<app-header [overlay]="'true'"></app-header>

<ng-progress #progressBar [direction]="'ltr+'" [max]="100" [speed]="500" [trickleSpeed]="300" [spinner]="false"
  [spinnerPosition]="'left'" [thick]="true" [meteor]="true" [color]="'#E1DFE0'" [ease]="'linear'"></ng-progress>

<div class="container reveal-animation" (scroll)="scrollHandler($event)" #reveal>
  <!-- Full Screen Image Section Start -->
  <div class="parallax-screen genhead fade-in one" id="parallax">
    <!-- Full Screen Image Section End -->
  </div>

  <div class="container custom-container">
    <!-- Project Header Start -->
    <div class="row projectHeader">
      <div class="col-md-8 col-sm-12">
        <h1 class="projectHeader_heading">Generative Experiments</h1>
        <p class="projectHeader_tools">Tools: WebGL, GLSL, Three.js</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p class="projectHeader_desc">Collection of generative art experiments
        </p>
      </div>
    </div>
    <!-- Project Header End -->

    <!-- Body Pragraph Main Start -->
    <div class="row projectbody">
      <div class="col-md-12">
        <h1 class="mainbodytitle">Overview</h1>
        <div class="mainparagraph">
          <p>One thing I love about creative coding is the ability to create experimental forms and visuals from simple
            shapes. In my free time, I play with colors, shapes, and tools to generate various stills!</p>
        </div>
      </div>
    </div>
    <!-- Body Pragraph Main End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/genart/1.png" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/genart/2.png" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/genart/3.png" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->

    <!-- Center Image Section Start -->
    <div class="container videocontainer">
      <div class="row">
        <div class="video">
          <img src="./assets/images/pages/genart/5.png" class="img-responsive posters" alt="description">
        </div>
      </div>
    </div>
    <!-- Center Image Section End -->
  </div>

  <app-footer [currentPage]="'Generative'"></app-footer>