.threehead {
    background-image: url(/assets/full_screen/desktop/head.png);
}

.threebody {
    background-image: url(/assets/images/pear.jpg);
}

@media screen and (max-width: 650px) {
    .threehead {
        background-image: url(/assets/full_screen/mobile/head.png);
    }
}